*{
    margin: 0;
    padding: 0; 
 }
 
 .content-container{
     width: 100%;
     margin: auto;
 }
 .monster-profile{
     display: flex;
     margin-top: 5px;
 }
 html {
     margin: 0;
     height: 100%;
   }
   
   body {
     margin: 0;
     height: 100%;
    
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(Character_Images/Background-transformed.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;

   }
   

   h1, h4 {
    margin: 0;
    margin-left: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    position: relative;
    color: white;
    font-size: 70px;
    text-shadow: 0px 0px 15px darkred;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
  }
   
   h4{
    margin-top: 0%;
    font-size: 20px;
   }

   h6{
    color: whitesmoke; 
    font-style: italic;
    
   }

     .title 
     { 
     top: 20px;
     left: 20%;
     background-size: 100px 100px;
     width: 80%;
 
     }

     .placement{
      margin-left: 0%;
     }

    #winner{
      margin-top: 10px;
    }

    .winner-inputs{
      margin-top: 5px;
    }

    .monster-profile {
      display: inline-block;
      margin: 10px;
    }
    
    .monster-container-inner {
      text-align: center;
    }

    .img-thumbnail{
      width: 130px;
      height: 170px;
    }

    .img-fluid{
      width: 110px;
      height: 150px;
    }

    .space{
      margin-left: 10px;
    }

    .img-thumbnail {
      border: 2px solid #fff; /* thinner white border */
    }
    
    .killed-image {
      border: 2px solid red; /* red border for killed image */
    }

    .killer-input {
      background-color: gold; /* gold background for killer input */
    }
    
    .killed-input {
      background-color: red; /* red background for killed input */
    }

    @media only screen and (max-width: 1024px) {

      h1{
        font-size: 50px;
      }

      h4{
        font-size: 20px;   
      }

      .title 
      { 
        width: 50%;
      }

      .img-thumbnail{
        width: 110px;
        height: 150px;
      }
  
      .img-fluid{
        width: 110px;
        height: 150px;
      }
    }
    
    @media only screen and (max-width: 480px) {

      h1{
        font-size: 40px;
        margin-left: 5px;
      }

      h4{
        font-size: 10px;   
        margin-left: 5px;
      }

      .title 
      { 
        width: 30%;
      }

      .img-thumbnail{
        width: 90px;
        height: 130px;
      }
  
      .img-fluid{
        width: 70px;
        height: 110px;
      }
    }
    